<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="../css/Login.css">
</head>
<body>
	<span>HES</span>
	<div id="Board">
		<span id="head">LOG IN</span>
		<form action="/login" method="POST">
		<div id="ID LOG">
			<div id="ID">
			<span class="span">ID</span> <input name="username" class="id" type="text">
			<input type="submit" id="login" value="login">
			</div>
		</form>
			<div id="PW">
			<span class="span">PW</span> <input type="password" name="password">
				<a href="/goregister" id="join">JOIN</a>
			</div>
		</div>
	</div>
</body>
</html>